<section>
  <div class="hero-content bright">
    <div class="headline-wrapper">
      <h1 class="fira fs40 fw400 main">{{ "hero.headline" | translate }}</h1>
      <h2 class="karla fs128 fw700 main">Kai Schulz</h2>
    </div>
    <div class="button-wrapper">
      <a href="#projects">
        <div class="button">
          <span class="button-text first">{{ "hero.work" | translate }}</span>
          <span class="button-text last">{{ "hero.work" | translate }}</span>
        </div>
      </a>
      <a href="#contact">
        <div class="button">
          <span class="button-text first">{{ "hero.contact" | translate }}</span>
          <span class="button-text last">{{ "hero.contact" | translate }}</span>
        </div>
      </a>
    </div>
  </div>

  <div class="vert-wrapper container">
    <div class="scroll">
      <a href="#about">
        <img src="assets/icons/down.svg" />
      </a>
      <div class="line-left"></div>
    </div>

    <div class="contact">
      <a href="mailto:info@sparrowmedia.de" class="mail fs16"
        >info&#64;sparrowmedia.de</a>
      <a href="https://github.com/sprrwDE" target="_blank" class="social"
        ><img src="assets/icons/github.svg" />
      </a>
      <a
        href="https://www.linkedin.com/in/kai-schulz-53207b1a6/"
        target="_blank"
        class="social"
        ><img src="assets/icons/linkedin.svg"
      /></a>
      <div class="line-right"></div>
    </div>
  </div>

  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="carousel-track">
        <div
          class="carousel-item fs32 fira accent"
          *ngFor="let item of 'hero.slider' | translate"
        >
          <span>{{ item.slide }}</span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
  </div>
</section>
