@import './../../../styles.scss';

section {
    height: 100vh;
    background: linear-gradient(45deg, $background 40%, $primary);
    display: flex;
    align-items: center;
    justify-content: center;
    >.hero-content {
        text-align: center;
        >h1{
            font-family: 'Fira_Code', serif;
            font-size: 40px;
        }
        >h2 {
            font-size: 128px;
            font-weight: 700;
        }
    }
}