<div class="tooltip">
    <img class="back" src="assets/vectors/bubble.svg">
    <div class="flex">
      <span class="fira fs16 accent">Ich habe großes Interesse an</span>
      <div class="img-wrap">
        <div class="img-box">
          <img src="assets/icons/skills/React.svg">
          <span class="fira accent fs16">React</span>
        </div>
        <div class="img-box">
          <img src="assets/icons/skills/Vue.svg">
          <span class="fira accent fs16">Vue Js</span>
        </div>
      </div>
    </div>
  </div>