<div class="tooltip">
    <img class="back" src="assets/vectors/bubble.svg">
    <div class="flex">
      <span class="karla fs16 accent">{{'skills.bubble' | translate}}</span>
      <div class="img-wrap">
        <div class="img-box">
          <img src="assets/icons/skills/React.svg">
          <span class="fira accent fs12">React</span>
        </div>
        <div class="img-box">
          <img src="assets/icons/skills/Vue.svg">
          <span class="fira accent fs12">Vue Js</span>
        </div>
      </div>
    </div>
  </div>