<div class="dialog-backdrop" (click)="onClose()"></div>
<div class="dialog-content">
  <div class="text-wrapper">
    <span class="accent carla fw700 fs128">{{ currentIndex + 1 }}</span>
    <h2 class="main fira fw700 fs64">{{ project?.name || "" | translate }}</h2>
    <h3 class="accent fira fw700 fs24">{{ "projects.about" | translate }}</h3>
    <p class="karla fs18">{{ project?.description || "" | translate }}</p>
    <div class="skill-wrapper">
      <div class="skill-inner" *ngFor="let skill of project?.skillset">
        <img src="{{ skill.image }}" />
        <p class="karla fs18 fw400">{{ skill.name }}</p>
      </div>
    </div>
    <div class="button-wrapper">
      <a href="{{ project?.urls?.github }}" target="_blank">
        <div class="button-dial">
          <span>Github</span>
          <img src="assets/icons/misc/arrow_forward.svg" />
        </div>
      </a>
      <a href="{{ project?.urls?.project }}" target="_blank">
        <div class="button-dial">
          <span>Live Test</span>
          <img src="assets/icons/misc/arrow_forward.svg" />
        </div>
      </a>
    </div>
  </div>
  <div class="image-wrapper">
    <div class="close-wrapper">
      <img src="assets/icons/misc/close_small.svg" (click)="onClose()" class="close">
    </div>


    <img src="{{ project?.image }}" />
    <div class="next" (click)="nextDialog()">
      <div class="next-inner">
      {{ "projects.button" | translate }}
      <img src="assets/icons/misc/arrow_forward.svg">
    </div>
    </div>
  </div>
</div>
