@import "./../../../../styles.scss";


.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    >.text-wrapper{
      width: 100%;
    }
    >.image-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      >p{
        text-align: right;
        cursor: pointer;
      }
      >img{
        border-radius: 20px;
        width: 100%;
      }
    }
    
  }
  