<div class="container section-wrapper">
  <div class="content">
    <span class="eb">{{'contact.eyebrow' | translate}}</span>
    <h2 class="hl-big">{{'contact.headline' | translate}}</h2>
    <h3 class="hl-small">{{'contact.solve' | translate}}</h3>
    <p>
      {{'contact.paragraph' | translate}}
    </p>
  </div>

  <div class="form-wrapper">
    <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
      <label for="name">{{'contact.form.name.label' | translate}}</label>
      <input
        #name="ngModel"
        minlength="4"
        [(ngModel)]="contactData.name"
        type="text" 
        id="fname"
        name="firstname"
        placeholder="{{'contact.form.name.placeholder' | translate}}"
        required
      />
      @if (!name.valid && name.touched && !name.disabled) {
      <div class="test">{{'contact.form.name.error' | translate}}</div>
      }

      <label for="email">{{'contact.form.email.label' | translate}}</label>
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="{{'contact.form.email.placeholder' | translate}}"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      @if (!email.valid && email.touched && !email.disabled) {
      <div>{{'contact.form.email.error' | translate}}</div>
      }

      <label for="subject">{{'contact.form.subject.label' | translate}}</label>
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        id="subject"
        name="subject"
        placeholder="{{'contact.form.subject.placeholder' | translate}}"
        style="height: 200px"
      ></textarea>
      @if (!message.valid && message.touched && !message.disabled) {
      <div class="test">{{'contact.form.subject.error' | translate}}</div>
      }

      <label for="terms" class="w100">
        <input
          #terms="ngModel"
          [(ngModel)]="contactData.terms"
          type="checkbox"
          id="terms"
          name="terms"
          required
        />
        {{'contact.form.terms.placeholder.part1' | translate}} <a href="/data-protection/">{{'contact.form.terms.placeholder.a' | translate}}</a> {{'contact.form.terms.placeholder.part2' | translate}}
      </label>
      <div *ngIf="!terms.valid && terms.touched">
        {{'contact.form.terms.error' | translate}}
      </div>

      <button type="submit">{{'contact.form.submit' | translate}}</button>
    </form>
  </div>
</div>
