  @import "./../../../styles.scss";

  header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    >.container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      >.navbar {
        display: flex;
        align-items: center;
        gap: 32px;
        >.lang{
          border: 1px solid $primary;
          border-radius: 20px;
        }
        >nav {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
      > a {
        > img {
          z-index: 999;
          width: 200px;
        }
      }
    }
  }
