<section class="container" data-aos="fade-up" data-aos-duration="2000">
  <div class="img-wrapper">
    <img src="assets/images/me_free.png"
      />
  </div>
  <div class="content-wrapper">
    <span class="fs24 karla fw500 accent">{{ "about.eyebrow" | translate }}</span>
    <div class="about-container">
      <h2 class="fira fs64 fw700 accent">{{ "about.headline" | translate }}</h2>
      <p>
        {{ "about.description" | translate }} 
      </p>
      <div class="list-item" *ngFor="let item of aboutDb">
        <img [src]="item.url" />
        <p class="gray">{{ item.description | translate }}</p>
      </div>
    </div>
  </div>
</section>
