<section class="container">
  <div class="img-wrapper">
    <img src="assets/images/placeholder.jpeg" alt="" />
  </div>
  <div class="content-wrapper">
    <span class="eb">Lorem Ipsum</span>
    <div class="about-container">
      <h2 class="hl-big">{{'about.headline' | translate}}</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo
        sequi necessitatibus quos soluta, dolorem vitae laborum. Sed minus,
        repellendus ducimus mollitia maxime at ea fugiat veniam tempora,
        accusamus hic.
      </p>
    </div>
  </div>
</section>
