<main>
  <section class="container">
    <h1>{{ "imprint.h1" | translate }}</h1>
    <H2>{{ "imprint.provider" | translate }}</H2>
    <p>
      Altenweg 47<br />
      75228 Ispringen
    </p>
    <p>
      {{ "imprint.tel" | translate }}
    </p>
    <p>
      Website: <a href="https://sprrw.de">https://sprrw.de</a><br />
      E-Mail: <a href="mailto:info@sparrowmedia.de">info&#64;sparrowmedia.de</a>
    </p>
    <p>{{ "imprint.form" | translate }}<br /></p>
    <p>{{ "imprint.job" | translate }}</p>
    <H2>{{ "imprint.fight.h2" | translate }}</H2>
    <ul>
      <li>
        {{ "imprint.fight.l1.text1" | translate }}
        <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>
        {{ "imprint.fight.l1.text2" | translate }}
      </li>
      <li>
        {{ "imprint.fight.l2.text1" | translate }}
        <a href="https://www.gesetze-im-internet.de/vsbg/"
          >https://www.gesetze-im-internet.de/vsbg/</a
        >{{ "imprint.fight.l2.text2" | translate }}
      </li>
    </ul>
    <H2>{{ "imprint.content" | translate }}</H2>
    <H2>DISCLAIMER</H2> 
    <H3>{{ "imprint.disclaimer.headline" | translate }}</H3>
    <p>
      {{ "imprint.disclaimer.p1" | translate }}
    </p>
    <p>
      {{ "imprint.disclaimer.p2" | translate }}    </p>
    <H3>{{ "imprint.data.hl" | translate }}</H3>
    <p>
      {{ "imprint.data.p1" | translate }}
      <a href="https://kai-schulz.dev/data-protection/"
        >https://kai-schulz.dev/data-protection/</a
      >.
    </p>

    <H3>{{ "imprint.owner.hl" | translate }}</H3>
    <p>
      {{ "imprint.owner.p" | translate }}
    </p>
  </section>
</main>
