@import "./../../../styles.scss";

main {
    padding: 200px 0;
    line-height: 1.5;

    h2, h3, h4 {
        margin-top: 32px; 
        margin-bottom: 16px; 
    }

    ul {
        list-style-position: outside; 
        padding-left: 32px; 
        margin-left: 0; 
    }

    li {
        margin-bottom: 8px; 
    }

    p {
        margin-bottom: 16px; 
    }
}