@import "./../../../styles.scss";

.testi {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  > .outter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    overflow-x: hidden;
    > .wrapper {
      width: 100%;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;


      > .person {
        display: flex;
        align-items: center;
        gap: 8px;
        > .horizontal {
          height: 1px;
          background-color: white;
          width: 100%;
          flex: 1;
        }
      }
    }
    > .selected {
      transform: scale(1);
      border: 1px solid #3dcfb6;
      background-color: #3dcfb64d;
      width: 150%;
      height: 240px;
    }

    > .prev {
      background: linear-gradient(90deg, #1c1c1c, #3dcfb61a);
      transform: translateX(-10%) scale(0.9);
      border: 1px solid #3dcfb6;
    }

    > .next {
      background: linear-gradient(270deg, #1c1c1c, #3dcfb61a);
      transform: translateX(10%) scale(0.9);
      border: 1px solid #3dcfb6;
    }

    .quote {
      position: absolute;
      top: 30%;
      left: 32%;
    }
  }

  > .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;


    > .dot {
      background-color: white;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: flex;
      &.active {
        background-color: #3DCFB6;
        transform: scale(1.2);
      }

      &.inactive {
        opacity: 0.5;
      }

    }
    > img {
      cursor: pointer;
    }
  }
}
