<section class="container testi" data-aos="fade-up" data-aos-duration="1000">
  <h3 class="fira fw700 fs32 accent center">
    {{ "testimonials.headline" | translate }}
  </h3>

  <div class="outter">
    <div
      *ngFor="let testimonial of testimonialDb; let i = index"
      class="wrapper"
      [ngClass]="{
        selected: i === selectedItem,
        prev: i === selectedItem - 1,
        next: i === selectedItem + 1,
        hiddenl: i < selectedItem - 1,
        hiddenr: i > selectedItem + 1
      }"
    >
      <p class="fit">{{ testimonial.testimonial | translate }}</p>
      <div class="person">
        <div class="horizontal"></div>
        <p class="moin"> 
          {{ testimonial.name | translate }} -
          {{ testimonial.status | translate }}
        </p>
      </div>
      <img *ngIf="i === selectedItem" src="assets/quotes.svg" class="quote" />
    </div>
  </div>

  <div class="pagination">
    <img (click)="selectPrev()" src="assets/icons/arrow_back.svg" />
    <div
      *ngFor="let dot of testimonialDb; let i = index"
      class="dot"
      [ngClass]="{
        inactive: i !== selectedPage,
        active: i === selectedPage
      }"
    ></div>
    <img (click)="selectNext()" src="assets/icons/arrow_forward.svg" />
  </div>
</section>