<section class="container testi">
  <h3 class="fira fw700 fs32 accent">
    {{ "testimonials.headline" | translate }}
  </h3>
  <img src="assets/quotes.svg" class="quote">
  <div class="outter">
    <div
      *ngFor="let testimonial of testimonialDb; let i = index"
      class="wrapper"
      [ngClass]="{
        'selected': i === selectedItem,
        'prev': i === selectedItem - 1,
        'next': i === selectedItem + 1,

      }"
    >
      <p>{{ testimonial.testimonial | translate }}</p>
      <div class="person">
        <div class="horizontal"></div>
        <p>
          {{ testimonial.name | translate }} -
          {{ testimonial.status | translate }}
        </p>

      </div>
    </div>
  </div>
  <div class="pagination">
    <img (click)="previousSlide()" src="assets/icons/arrow_back.svg" />
    <img (click)="nextSlide()" src="assets/icons/arrow_forward.svg" />
  </div>
</section>
