@import "./../../../../node_modules/swiper/swiper-bundle.css";


.testi {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  > .outter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    overflow-x: hidden;
    padding: 32px 0;
    position: relative;

    > .wrapper {
      position: absolute;
      top: 0;
      width: 500px;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;
      transition: all 1s ease;
      height: 300px;


      > .person {
        display: flex;
        align-items: center;
        gap: 8px;

        > .horizontal {
          height: 1px;
          background-color: white;
          width: 100%;
          flex: 1;
        }
      }
    }

    .selected {
      transform: scale(1);
      border: 1px solid #3dcfb6;
      background-color: #3dcfb64d;
      position: relative;
      left: calc(50% - 250px);

    }

    .prev {
      background: linear-gradient(90deg, #1c1c1c, #3dcfb61a);
      transform: translateX(-10%) scale(0.9);
      border: 1px solid #3dcfb6;
      left: -5%;
    }

    .next {
      background: linear-gradient(270deg, #1c1c1c, #3dcfb61a);
      transform: translateX(10%) scale(0.9);
      border: 1px solid #3dcfb6;
      overflow: hidden;
      left: calc(50% + 250px);
    }

    .ghost {

    }

    .quote {
      position: absolute;
      top: -13%;
      left: -10%;
      z-index: 99;
    }
  }

  > .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    > .dot {
      background-color: white;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: flex;

      &.active {
        background-color: #3dcfb6;
        transform: scale(1.2);
      }

      &.inactive {
        opacity: 0.5;
      }
    }

    > img {
      cursor: pointer;
    }
  }
} 