<section>
  <div class="outter-wrapper container">
    <div class="content-wrapper">
      <span class="fs24 karla fw500 accent">{{
        "skills.eyebrow" | translate
      }}</span>
      <div class="content">
        <h2 class="fira fs64 fw700 accent">
          {{ "skills.headline" | translate }}
        </h2>
        <p>
          {{ "skills.description" | translate }}
        </p>
        <h3 class="fira fw700 accent fs24">
          {{ "skills.headline2.part1" | translate }}
          <span class="main">{{ "skills.headline2.part2" | translate }}</span>
        </h3>
        <p>{{ "skills.paragraph" | translate }}</p>
        <a href="#contact">
          <div class="button">
            <span class="button-text first">{{
              "skills.button" | translate
            }}</span>
            <span class="button-text last">{{ "skills.button" | translate }}</span>
          </div>
        </a>
      </div>
    </div>

    <div class="images">
      <div *ngFor="let skill of skillDb; let i = index" class="skill-wrapper">
        <div
          class="inner-wrapper"
          *ngIf="i === skillDb.length - 1"
          (mouseover)="onMouseOver()"
          (mouseleave)="onMouseLeave()"
        >
          <img [src]="skill.src" [alt]="skill.alt" />
          <p>{{ skill.name }}</p>
          <app-tooltip *ngIf="hover" class="test" ></app-tooltip>
        </div>

        <div class="inner-wrapper" *ngIf="i !== skillDb.length - 1">
          <img [src]="skill.src" [alt]="skill.alt" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
