<section class="container">
  <div class="content-wrapper">
    <span>Lorem Ipsum</span>
    <div class="content">
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur,
      eum. Voluptatibus ea eum aperiam, maiores iure modi quis quibusdam nam
      quidem dolore veritatis vitae minus nihil inventore nostrum tempora ipsa?</p>
    </div>
  </div>

  <div class="images">
    <div *ngFor="let skill of skillDb" class="skill-wrapper">
      <img [src]="skill.src" [alt]="skill.alt" />
      <p>{{ skill.name }}</p>
    </div>
  </div>
</section>
