<section>
  <div class="outter-wrapper container">

    <div class="content-wrapper">
      <span class="fs24 karla fw500 accent">Lorem Ipsum</span>
      <div class="content">
        <h2 class="fira fs64 fw700 accent">Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur,
          eum. Voluptatibus ea eum aperiam, maiores iure modi quis quibusdam nam
          quidem dolore veritatis vitae minus nihil inventore nostrum tempora
          ipsa?
        </p>
        <h3 class="fira fw700 accent fs24">lorem <span class="main">ipsum</span></h3>
        <p>lorem ipsunmmmmm</p>
        <button>lorem</button>
      </div>
    </div>
  
    <div class="images">
      <div *ngFor="let skill of skillDb; let i = index" class="skill-wrapper">
        <div
          class="inner-wrapper"
          *ngIf="i === skillDb.length - 1"
          (mouseover)="onMouseOver()"
          (mouseleave)="onMouseLeave()"
        >
          <img [src]="skill.src" [alt]="skill.alt" />
          <p>{{ skill.name }}</p>
          <img src="assets/vectors/bubble.svg" *ngIf="hover" class="test" />
          <!-- wie in Tooltip rein? -->
        </div>
  
        <div class="inner-wrapper" *ngIf="i !== skillDb.length - 1">
          <img [src]="skill.src" [alt]="skill.alt" />
          <p>{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
