@import "./../../../styles.scss";

.container {
    padding: 120px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    >.wrapper {
        width: 100%;
        border: 1px solid white;
        border-radius: 20px;
        padding: 20px;
        cursor: pointer;
    }
}