<section class="container">
  <div class="content-outter">
    <span class="fs24 karla accent">Portfolio</span>
    <h3 class="fs64 fira accent fw700">{{ "projects.headline" | translate }}</h3>
    <p>
      {{ "projects.paragraph" | translate }}
    </p>
  </div>
  <div class="project-wrapper-outter">
    <div
      *ngFor="let project of projectDb; let index = index"
      (click)="openDialog(index)"
      class="wrapper"
    >
      <div
        class="content"
        (mouseover)="hoverImg = project.name"
        (mouseout)="hoverImg = ''"
        [ngClass]="{ 'first': index === 0 }"
      >
        <div class="description">
          <h3 class="fira fs24 fw700 main">{{ project.name | translate }}</h3>
        </div>

        <div class="skills">
          <span *ngFor="let skill of project.skillset">{{ skill.name }}</span>
        </div>
      </div>
      <div class="image" *ngIf="hoverImg === project.name">
        <div  alt="" class="{{ project.tag }}">
          <img src="{{ project.image }}" />
          <img class="capa" src="assets/capa2.svg"/>
        </div>
      </div>
    </div>
  </div>
</section>

<app-dialog
  *ngIf="isDialogOpen"
  [project]="currentProject"
  [projectDb]="projectDb"
  [currentIndex]="currentIndex"
  (close)="closeDialog()"
  (updateIndex)="currentIndex = $event"
></app-dialog>
