/* Colors */

$primary: #08463b;
$main: #ffffff;
$accent: #3dcfb6;
$background: #1c1c1c;

.main {
  color: $main;
}

.accent {
  color: $accent;
}

/* Screen-Sizes */

$screen: 1500px;
$laptop: 1024px;
$tab: 768px;
$phone: 480px;

/* Document & Container */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-family: "Karla", sans-serif;
  background-color: $background;
  color: $main;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  @media screen and (max-width: $screen) {
    padding: 80px 2%!important;
  }
}

/* Link Styling */

a {
  text-decoration: none;
  color: $accent;
  cursor: pointer;
}

/* Headlines, Buttons */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 16px;
  border-radius: 32px;
  width: 200px;
  cursor: pointer;
}

/* Fonts */

@font-face {
  font-family: "Fira_Code";
  src: url("assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fira {
  font-family: "Fira_Code", serif;
}

.karla {
  font-family: "Karla", sans-serif;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fs128 {
  font-size: 128px;
}

.fs64 {
  font-size: 64px;
}

.fs24 {
  font-size: 24px;
}

.fs18 {
  font-size: 18px;
}

.hl-big {
  color: $accent;
  font-family: "Fira_Code", serif;
  font-size: 64px;
}

.hl-small {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fira_Code", serif;
  color: $accent;
}

.eb {
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  color: $accent;
}

