/* Colors */

$primary: #08463b;
$main: #ffffff;
$accent: #3dcfb6;
$background: #1c1c1c;
$gray: #ffffffcc;

.primary {
  color: $primary;
}

.main {
  color: $main;
}

.accent {
  color: $accent;
}

.gray {
  color: $gray;
}

.background {
  color: $background;
}

/* Screen-Sizes */

$screen: 1500px;
$laptop: 1024px;
$tab: 768px;
$phone: 480px;

/* Document & Container */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-family: "Karla", sans-serif;
  background-color: $background;
  color: $main;
  font-weight: 400;
  overflow-x: hidden !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  @media screen and (max-width: 1440px) {
    padding: 80px 2% !important;
  }
}

/* Link Styling */

a {
  text-decoration: none;
  color: $accent;
  cursor: pointer;
}

/* Headlines, Buttons */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 16px;
  border-radius: 32px;
  width: 200px;
  cursor: pointer!important;
  overflow: hidden;
  &:hover {
    border: 1px solid $accent!important;
    color: $accent!important;
  }
  &[disabled] {
    border: 1px solid grey;
    color: grey;
    cursor: not-allowed!important;
    
    &:hover {
      border: 1px solid grey!important;
      color: grey!important;
    }
  }
}

.button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 24px;
  border-radius: 32px;
  width: 200px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  > img {
    height: 16px;
    transform: rotate(315deg);
    transition: transform 0.3s ease, height 0.3s ease-in-out;
  }

  &:hover {
    border: 1px solid $accent;
    color: $accent;

    > img {
      height: 18px;
      transform: rotate(315deg) translate(2px, 2px);
    }

    .button-text.first {
      transform: translateX(-200%); 
    }

    .button-text.last {
      transform: translateX(0); 
    }
  }
}

.button-text {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.8s ease-out;

  &.first {
    transform: translateX(0); 
  }

  &.last {
    transform: translateX(200%); 
  }
}

/* Fonts */

@font-face {
  font-family: "Fira_Code";
  src: url("assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fira {
  font-family: "Fira_Code", serif;
}

.karla {
  font-family: "Karla", sans-serif;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fs128 {
  font-size: 128px;
  @media screen and (max-width: $laptop) {
    font-size: 72px !important;
  }
  @media screen and (max-width: $phone) {
    font-size: 48px !important;
  }
}

.fs64 {
  font-size: 64px;
  @media screen and (max-width: $laptop) {
    font-size: 56px !important;
  }
  @media screen and (max-width: $phone) {
    font-size: 40px !important;
  }
}

.fs40 {
  font-size: 40px;
  @media screen and (max-width: $laptop) {
    font-size: 32px !important;
  }
  @media screen and (max-width: $phone) {
    font-size: 24px !important;
  }
}

.fs32 {
  font-size: 32px;
  @media screen and (max-width: $laptop) {
    font-size: 24px !important;
  }
  @media screen and (max-width: $phone) {
    font-size: 16px !important;
  }
}

.fs24 {
  font-size: 24px;
}

.fs18 {
  font-size: 18px;
}

.fs16 {
  font-size: 16px;
}

.fs12 {
  font-size: 12px;
}

.plr24 {
  padding: 0 24px;
}
