<footer>
  <div class="container">
    <div class="s">
      <a href="#"> <img src="assets/sparrow_logo.svg" /></a>
      <span>Web Developer</span>
      <span>Pforzheim Germany</span>
    </div>
    <div class="m name accent">© Kai Schulz 2024</div>
    <div class="e">
      <nav>
        <a href="https://github.com/sprrwDE" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/kai-schulz-53207b1a6/" target="_blank">Linkedin</a>
        <a href="https://www.sprrw.de/" target="_blank">Freelance Portfolio</a>
        <a href="imprint">Imprint</a>
        <a href="data-protection">Data Protection</a>
      </nav>
    </div>
  </div>
</footer>
