@import "./../../../styles.scss";

footer {
  height: 200px;
  display: flex;
  align-items: center;
  @media screen and (max-width: $screen) {
    height: auto;
    flex-direction: column;
  }
  > .container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
    }
    > .s {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
      gap: 8px;
      width: 33%;
      @media screen and (max-width: 400px) {
        width: 100%;
        text-align: center;
        align-items: center;
      }
      > a {
        > img {
          width: 200px;
          @media screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }
    }
    > .m {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 33%;
      @media screen and (max-width: $laptop) {
        display: none;
      }
    }
    > .e {
      width: 33%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      > nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
        > a {
          position: relative;
          &:hover {
            color: $accent;
          }
          &:hover::before {
            content: "";
            position: absolute;
            left: -16px;
            background: $accent;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  > .mobile {
    display: none;
    padding-bottom: 24px;
    @media screen and (max-width: $laptop) {
      display: block;
    }
  }
}
