<main>
  <section class="container">
    <H2>{{ "dse.h1" | translate }}</H2>
    <H3>{{ "dse.s1.hl" | translate }}</H3>
    <p>
      {{ "dse.s1.p1" | translate }}
    </p>
    <p>
      {{ "dse.s1.p2" | translate }}
      <a href="mailto:info@sparrowmedia.de">info&#64;sparrowmedia.de</a>.
    </p>
    <p>
      {{ "dse.s1.p3" | translate }}
    </p>
    <p>
      {{ "dse.s1.p4" | translate }}
    </p>
    <H4>{{ "dse.s2.hl" | translate }}</H4>
    <p>
      {{ "dse.s2.p1" | translate }}
    </p>
    <ul>
      <li>{{ "dse.s2.li.l1" | translate }}</li>
      <li>{{ "dse.s2.li.l2" | translate }}</li>
      <li>{{ "dse.s2.li.l3" | translate }}</li>
      <li>{{ "dse.s2.li.l4" | translate }}</li>
      <li>{{ "dse.s2.li.l5" | translate }}</li>
    </ul>
    <p>
      {{ "dse.s2.p2" | translate }}
    </p>
    <H4>{{ "dse.s3.hl" | translate }}</H4>
    <p>
      {{ "dse.s3.p1" | translate }}
    </p>
    <ul>
      <li>{{ "dse.s3.li.l1" | translate }}</li>
      <li>{{ "dse.s3.li.l2" | translate }}</li>
      <li>{{ "dse.s3.li.l3" | translate }}</li>
      <li>{{ "dse.s3.li.l4" | translate }}</li>
      <li>{{ "dse.s3.li.l5" | translate }}</li>
      <li>{{ "dse.s3.li.l6" | translate }}</li>
      <li>{{ "dse.s3.li.l7" | translate }}</li>
      <li>{{ "dse.s3.li.l8" | translate }}</li>
      <li>{{ "dse.s3.li.l9" | translate }}e</li>
      <li>{{ "dse.s3.li.l10" | translate }}</li>
    </ul>
    <p>
      {{ "dse.s3.p2.1" | translate }}
    </p>
    <p>
      {{ "dse.s3.p2.2" | translate }}
    </p>
    <p>
      {{ "dse.s3.p3" | translate }}
    </p>
    <p>{{ "dse.s3.p4.hl" | translate }}</p>
    <p>
      {{ "dse.s3.p4.a.text" | translate }}
    </p>
    <ul>
      <li>{{ "dse.s3.p4.a.l1" | translate }}</li>
      <li>{{ "dse.s3.p4.a.l2" | translate }}</li>
    </ul>
    <p>
      {{ "dse.s3.p4.b" | translate }}
    </p>
    <p>
      {{ "dse.s3.p4.c" | translate }}
    </p>
    <p>
      {{ "dse.s3.p4.d" | translate }}
    </p>
    <H4>{{ "dse.s4.hl" | translate }}</H4>
    <p>
      {{ "dse.s4.p1" | translate }}
    </p>
    <p>
      {{ "dse.s4.p2" | translate }}
    </p>
    <p>
      {{ "dse.s4.p3" | translate }}
    </p>
    <p>
      {{ "dse.s4.p4" | translate }}
    </p>
    <H4>{{ "dse.s5.hl" | translate }}</H4>
    <p>
      {{ "dse.s5.p1" | translate }}
    </p>
    <p>
      {{ "dse.s5.p2" | translate }}

    </p>
    <p>
      {{ "dse.s5.p3" | translate }}
      <a href="mailto:info@sparrowmedia.de">info&#64;sparrowmedia.de</a>.
    </p>
    <H4>{{ "dse.s6.hl" | translate }}</H4>
    <p>
      {{ "dse.s6.p" | translate }}
    </p>
  </section>
</main>
